{{ partial "head" . }}
<body>
    <div class="wrap">

        {{ partial "header" . }}

        <div class="container content">
            {{ partial "post-list" . }}
            {{ partial "pagination" . }}
        </div>

        {{ partial "footer" . }}

    </div>
</body>
</html>
