{{ partial "head" . }}
<body>
    <div class="wrap">

        {{ partial "header" . }}

        <div class="container content">
            <div class="post">
                <h1 class="post-title">{{ .Title }}</h1>
                <span class="post-date">{{ .Date.Format .Site.Params.date_format }}</span>
                {{ .Content }}
            </div>
        </div>

        {{ partial "footer" . }}

    </div>
</body>
</html>
