<div class="masthead">
    <div class="container">
        <h3 class="masthead-title">
            <a href="{{ .Site.BaseURL }}" title="Home">{{ .Site.Title }}</a>
            <small>{{ .Site.Params.subtitle }}</small>
        </h3>
    </div>
    <div class="header-social">
    </div>
</div>
