{{ if or .Paginator.HasNext .Paginator.HasPrev }}
<div class="pagination">
    {{ if .Paginator.HasNext }}
        <a class="pagination-item older" href="{{ .Paginator.Next.URL }}">Older</a>
    {{ else }}
        <span class="pagination-item older">Older</span>
    {{ end }}

    {{ if .Paginator.HasPrev }}
        <a class="pagination-item newer" href="{{ .Paginator.Prev.URL }}">Newer</a>
    {{ else }}
        <span class="pagination-item newer">Newer</span>
    {{ end }}
</div>
{{ end }}
