{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ range $paginator.Pages }}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>

        <span class="post-date">{{ .Date }}</span>

        {{ .Summary }}
    </div>
{{ end }}
