{{ partial "head" . }}
<body class="post-template">
    <div class="wrap">

    {{ partial "header" . }}

    <div class="container content">
        404 Not Found
    </div>

    {{ partial "footer" . }}

    </div>
</body>
</html>
