{{ partial "head" . }}
<body>
  <div class="wrap">

    {{ partial "header" . }}

    <div class="container content">
        {{ if isset .Site.Params "about" }}

        {{ .Site.Params.about | markdownify }}

        <hr>
        {{end}}

        {{ partial "post-list" . }}
        {{ partial "pagination" . }}
    </div>

    {{ partial "footer" . }}

  </div>
</body>
</html>
